.order

    .order-page-header
        margin-bottom: 25px

    .disabled-black
        color: rgba(0, 0, 0, 0.75)

    .button-col
        text-align: right

    .button-back-color
        background-color: #f0f2f5

    .button-margin
        margin-right: 10px