.order

    .order-page-header
        height: 70px
        margin-bottom: 25px

    .button-col
        text-align: right

    .button-back-color
        background-color: #f0f2f5

    .button-margin
        margin-right: 10px

    .input-disabled
        color: rgba(0, 0, 0, 0.75)

        &:disabled
            background-color: #d9d9d9

    .ant-select-disabled
        
        .ant-select-selector
            background-color: #d9d9d9 !important

            .ant-select-selection-item
                color: rgba(0, 0, 0, 0.75) !important
            
    .comments-block
        margin-top: 50px

        .comments-list-block
            margin-top: 30px
            font-size: 16px

            .comments-list
                width: true

        .comments-new
            width: 100%

        .comments-avatar
            background-color: #001529
            margin-right: 10px

        .comments-button
            margin-bottom: 10px
            border-color: #001529

            &:hover
                border-color: #40a9ff

        .comments-input
            border-color: #001529

        .error
            color: red
