@import '~antd/dist/antd.css'
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Montserrat:wght@100;400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap')

.logo
  min-height: 46px
  min-width: 248px
  max-width: 248vw
  background-image: url('http://localhost:3000/100.png')
  background-repeat: no-repeat
  background-size: cover

fonts
    font-family: 'Cousine', monospace
    font-family: 'Montserrat', sans-serif
    font-family: 'Raleway', sans-serif
    font-family: 'Roboto', sans-serif